
//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

a:hover {
	text-decoration: none;
}

body {
	padding-top: 70px;
}
img {
	max-width: 100%;
	height: auto;
}
.centred {
  text-align: center;
}

.navbar {
	border-bottom: 1px solid @hr-border;
}
ul.spaced li+li {
	padding-top: 5px;
}
footer {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  // color: #777;
  border-top: 1px solid @hr-border;
}